"""
API Keys and LogIn Informations
"""

client_id = ''  # your bot's client ID
token = ''  # your bot's token
ops = [] # Discord UserID
moderator_role_name = "BotModerator"
imgur = ""  # Imgur Client Id
genius = ""
ytappname = "NerdyBot"
ytkey = ""
malusr = ""
malpwd = ""
openweather = ""
omdb = ""
riot = ""
igdb = ""