###################################
# API Keys and LogIn Informations #
###################################

[bot]
client_id =
token =
ops = []
error_spam_threshold = 5
moderator_role_name =
db = sqlite:///db.db

[search]
imgur =
genius =
omdb =
igdb =
ytkey =
malusr =
malpwd =

[utility]
openweather =

[league]
riot =

[wow]
wow_id =
wow_secret =
