LICENSE
.flake8
.env
CHANGELOG
.github
.gitignore
.git
.idea
.run
docker-compose*.yml
NerdyPy/config.yaml.template
NerdyPy/config*.yaml
**/*.db
**/*.db-wal
**/*.db-shm
**/*.db-journal
**/*.sqlite
**/*.sqlite-wal
**/*.sqlite-shm
**/*.sqlite-journal
web/frontend/node_modules/

# Non-build files
docs/
tests/
*.md
!README.md
.pre-commit-config.yaml
.ruff.toml
.pytest_cache/
.venv/
