services:
  nerpybot-migrations:
    image: ghcr.io/nerdycraft/nerpybot-database-migrations:latest
    restart: "no"
    volumes:
      - nerpybot-data:/data
      - ./config/nerpybot.yaml:/app/config.yaml:ro

  nerpybot:
    image: ghcr.io/nerdycraft/nerpybot:latest
    restart: unless-stopped
    depends_on:
      nerpybot-migrations:
        condition: service_completed_successfully
    volumes:
      - nerpybot-data:/data
      - ./config/nerpybot.yaml:/app/config.yaml:ro

  humanmusic:
    image: ghcr.io/nerdycraft/nerpybot:latest
    restart: unless-stopped
    volumes:
      - humanmusic-data:/data
      - ./config/humanmusic.yaml:/app/config.yaml:ro

volumes:
  nerpybot-data:
  humanmusic-data:
