[project]
name = "NerpyBot"
version = "0.0.0"
description = "The nerdiest Bot on Discord"
repository = "https://github.com/ethernerd-net/NerpyBot"
authors = [
    { name="Rico Wesenberg", email="r.wesenberg@gmail.com" },
    { name = "Dennis Bernardy", email = "bernardyd@gmail.com" }
]
license = "GPL-3.0-or-later"
readme = "README.md"
requires-python = ">=3.12"
packages = [
    { include = "NerdyPy" }
]

[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[tool.black]
target-version = ["py312"]
line-length = "120"