name: Check Code Formatting

on:
  pull_request:
    branches:
      - 'main'

jobs:
  format-check:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: astral-sh/ruff-action@v3
        with:
          args: "--version"
      - run: ruff check --diff
      - run: ruff format --check --diff
